{% extends 'application.html' %}

{% block title %}Share files between rooms{% endblock %}

{% block content %}
<h2 class="logo"><span>ShareDrop</span></h2>
<h3>Share files between devices in different networks</h3>

<p>
    Copy provided address and send it to the other person...
</p>

<p>
    <input type="text" value="{{ current_url }}" readonly="readonly" style="display: block; margin: auto;">
</p>

<p>
    Or you can scan it on the other device.
</p>

<p class="qr-code">
    {% include 'components/qr-code.html' text=current_url %}
</p>

{# ... rest of the content #}
{% endblock %}