<!DOCTYPE html>
<html>

<head>
    <title>ShareDrop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sharedrop.css') }}" type="text/css" />
    <script type="module" src="{{ url_for('static', filename='js/preloader.js') }}"></script>
</head>

<body>
    <div class="preloader"><span>Loading...</span></div>
    <header class="l-header">
        <nav class="navbar">
            <h1 class="logo">
                <span class="logo-title">ShareDrop</span>
                <span class="logo-subtitle">P2P file transfer</span>
            </h1>

            <ul class="nav">
                <li>
                    <a href="javascript:void(0)" class="icon-create-room"
                        title="Create a room. You'll leave the room you're currently in.">+</a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="icon-help" title="About">?</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    {% block modal %}{% endblock %}

    {% set modal_id = 'about_app' %}
    {% include "components/about_app.html" %}
    </footer>
    <!-- Global scripts -->

    <script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/framework.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/route.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/signalling.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/peer.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/socket.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/general.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/user_widget.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <!-- Custom scripts -->
    <!-- End custom scripts -->
</body>

</html>