<!DOCTYPE html>
<html>

<head>
    <title>ShareDrop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/sharedrop.css') }}" type="text/css" />
</head>

<body>
    <header class="l-header">
        <nav class="navbar">
            <h1 class="logo">
                <span class="logo-title">ShareDrop</span>
                <span class="logo-subtitle">P2P file transfer</span>
            </h1>

            <ul class="nav">
                <li>
                    <a href="{{ url_for('room', room_id=11) }}" class="icon-create-room"
                        title="Create a room. You'll leave the room you're currently in.">+</a>
                </li>
                <li>
                    <a href="{{ url_for('index') }}" class="icon-help" title="About">?</a>
                    <!-- url_for('about_us') but 'index' at least for now -->
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    {% block modal %}{% endblock %}

    <footer class="l-footer">
        <modal v-if="isModalOpen" @close="closeModal">
            <p class="about">{% include "components/about-you" }</p>
        </modal>
    </footer>
    <!-- Global scripts -->

    <!-- Vue Components -->
    <script src="{{ url_for(" js/modal.js") }}"></script>
    <!-- End Vue Components -->

    <!-- Custom scripts -->
    <script>
        //  Modal: click outside the modal
        // Make it such that the modal closes when outside is clicked
        // (but not when the modal itself is clicked)
        //
        // This is a bit tricky because we need to check if the click
        // was on the modal or not. We can do this by checking if the
        // click target is a child of the modal. If it is, then we
        // don't close the modal.
        const modal = document.getElementById('modal');
        const modalContent = document.getElementById('modal-content');
        document.addEventListener('click', (event) => {
            if (event.target === modal || modal.contains(event.target)) {
            } else {
                // close the modal
                .classList.remove('is-visible');
            }
        });
        // File-Input component
        const fileInput = document.getElementById('file-input');

        fileInput.addEventListener('click', (event) => {
            event.stopPropagation();
        });

        function handleFileChange() {
            const files = fileInput.files;
            // Perform actions with the selected files, e.g., send to Flask route
            // using AJAX or form submission

            // Reset the file input safely:
            fileInput.value = null;
        }

        function reset() {
            fileInput.value = null;
        }

    </script>
    <!-- End custom scripts -->
</body>

</html>