{% extends 'application.html' %}

{% block content %}
<main class="l-content">
    <div class="user others">
        {% for peer in peers %}
        {% include 'components/peer-widget.html' peer=peer webrtc=webrtc %}
        {% endfor %}
    </div>

    {% if current_user %}
    <div class="user you">
        {% include 'components/user-widget.html' user=current_user %}
    </div>
    {% endif %}

    <svg class="circles" viewBox="-0.5 -0.5 1140 700">
        <circle class="circle" cx="570" cy="570" r="30" stroke="rgba(160,160,160, 1)" />
        <circle class="circle" cx="570" cy="570" r="100" stroke="rgba(160,160,160,.9)" />
        <circle class="circle" cx="570" cy="570" r="200" stroke="rgba(160,160,160,.8)" />
        <circle class="circle" cx="570" cy="570" r="300" stroke="rgba(160,160,160,.7)" />
        <circle class="circle" cx="570" cy="570" r="400" stroke="rgba(160,160,160,.6)" />
        <circle class="circle" cx="570" cy="570" r="500" stroke="rgba(160,160,160,.5)" />
    </svg>
</main>
{% endblock %}